body {
  touch-action: none;
  background-color: #333;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}

#game {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border: 2vmin solid;
  border-color: rgb(80, 40, 11);
  box-shadow: 2vmin 2vmin 0.4vmin rgb(14, 8, 6);
  aspect-ratio: auto 1 / 1;
  -webkit-user-drag: none;
  z-index: 1;
}
.square {
  display: inline-block;
  /* width: 10vmin; */
  width: max(30px, 10vmin);
  aspect-ratio: auto 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.white {
  pointer-events: none;
  background-image: url("../images/white_wood.png");
  background-color: rgb(221, 221, 221);
  background-size: 100%;
  z-index: 1;
}
.black {
  /* pointer-events: unset; */
  background-image: url("../images/dark_wood.png");
  background-color: rgb(15, 15, 15);
  background-size: 100%;
  z-index: 1;
}
#center {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 5vh;
}
.piece {
  border-radius: 50%;
  width: max(17px, 7.5vmin);
  height: max(17px, 7.5vmin);
  box-shadow: 0.8vmin 0.8vmin 0.3vmin rgb(20, 11, 7);
  z-index: 1;
}

.piece-white {
  background-image: url("../images/white_piece.png");
  background-color: rgb(167, 61, 61);
  background-size: 100%;
  overflow: visible;
  opacity: 1;
  z-index: 1;
}
.white-king {
  background-image: url("../images/white_king.png");
  background-color: rgb(167, 61, 61);
  background-size: 100%;
  overflow: visible;
  opacity: 1;
  z-index: 1;
}

.piece-black {
  background-image: url("../images/dark_piece.png");
  background-color: rgb(77, 114, 9);
  background-size: 108%;
  background-position: center;
  overflow: visible;
  opacity: 1;
  z-index: 1;
}

.unselected {
  opacity: 0.5;
  z-index: 1;
}

.black-king {
  background-image: url("../images/dark_king.png");
  background-color: rgb(77, 114, 9);
  background-size: 108%;
  background-position: center;
  overflow: visible;
  opacity: 1;
  z-index: 1;
}

.black.possible {
  background-image: url("../images/dark_selected_wood.png");
  background-color: rgb(167, 61, 61);
  background-size: 100%;
  z-index: 1;
}

/* Menu */

.menu {
  margin: 0;
  margin-left: 20vmin;
  margin-top: 12.5vmin;
  width: max(120px, 39.6vmin);
  height: max(150px, 55vmin);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0.8vmin 0.8vmin 1.2vmin black;
  background-color: rgb(155, 91, 46);
  opacity: 0.9;
  position: absolute;
  border-radius: 5vmin;
  z-index: 2;
}

#close-menu {
  margin: 0 auto;
  margin-left: 34.5vmin;
  margin-top: 1.8vmin;
  cursor: pointer;
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.7vmin;
  color: rgb(255, 255, 255);
  user-select: none;
  text-decoration: none;
  z-index: 3;
}

#close-menu:hover {
  font-size: 3vmin;
  color: rgb(0, 0, 0);
}

.menu-hidden {
  margin-left: 83.5vmin;
  margin-top: -2.5vmin;
  text-align: justify;
  width: max(12px, 4vmin);
  height: max(12px, 4vmin);
  cursor: pointer;
  position: absolute;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  font-size: 4.5vmin;
  color: rgb(155, 91, 46);
  text-align: center;
  z-index: 2;
}

.menu-item {
  margin: 0;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.2rem;
  margin-top: 2vmin;
  font-size: 5vmin;
  color: #ffffff;
  text-shadow: 0.8vmin 0.8vmin 1.2vmin black;
  user-select: none;
  z-index: 2;
}
.menu-item:hover {
  font-size: 5.25vmin;
  letter-spacing: 0.4rem;
}
#new-game {
  margin-top: 7vmin;
}
#options {
  margin-top: 5vmin;
}

#rules {
  margin-top: 5vmin;
}

#results {
  margin-top: 5vmin;
}
